 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 VARIABLE FOR MIXINS _media.scss
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

 // Breakpoints
 $breakpoint-min-desktop: 1200px;
 $breakpoint-min-laptop: 992px;
 $breakpoint-min-tablet: 768px;
 $breakpoint-max-phone: 767px;

 // Initial | base size
 $base-size: 5;
 $body-min-height: 100vh;
 // Wrapper size
 $wrap-desktop: 1140px; // mixin : is-pc
 $wrap-laptop: 960px; // mixin : is-laptop
 $wrap-tablet: 720px; // mixin : is-tablet
 $wrap-phone: 540px; // mixin : is-sp

 $wrap-max-width: initial;
 $wrap-wp-margin: auto;

 $gutter-pc: 20px;
 $gutter-sp: 10px;

 $content-padding: 3em;


 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 VARIABLE FOR MIXINS _font-line.scss
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
 $font-family-base: 'ヒラギノ角ゴ ProN',
 'Hiragino Kaku Gothic ProN',
 '游ゴシック',
 '游ゴシック体',
 YuGothic,
 'Yu Gothic',
 'メイリオ',
 Meiryo,
 'ＭＳ ゴシック',
 'MS Gothic',
 HiraKakuProN-W3,
 'TakaoExゴシック',
 TakaoExGothic,
 'MotoyaLCedar',
 'Droid Sans Japanese',
 sans-serif;
 $font-family-main: 'Montserrat',
 sans-serif;
 $font-family-en: 'Roboto',
 sans-serif;
 $font-family-article: 'Miriam Libre',
 system-ui,
 BlinkMacSystemFont,
 -apple-system,
 Segoe UI,
 Roboto,
 Oxygen,
 Ubuntu,
 Cantarell,
 Fira Sans,
 Droid Sans,
 Helvetica Neue,
 sans-serif;

 $font-size-base: 16;
 $font-weight-base: 500;
 $line-height-base: 1.75;

 // ---------------------------------------------------------------
 //  Line-hieght
 // ---------------------------------------------------------------
 $line-height-base: 1.75;

 //validation
 $color-valid: #E5F9DA;
 $color-invalid: #F6D4D4;
 // fonts
 $color-text-default: #000;
 $color-text01: #303030;
 $color-text02: rgba(255, 255, 255, .66);
 $color-text03: #fff;
 $color-text04: #454545;
 $color-text05: #464646;
 $color-text06: #666;

 $color-primary:#F77737;
 $color-secondary:#833AB4;
 $color-primary-alt: #1e90ff;
 $color-sub: #252525;
 $bg-color-linear-top: $color-secondary;
 $bg-color-linear-bottom: $color-primary;
 $bg-color-footer: rgba(0, 0, 0, .8705882352941177);
