.p-header {
    $p-header: '.p-header';

    &__navbar {
        transition: all 0.3s linear;
    }

    &.scroll {
        #{$p-header}__navbar {
            @include is-responsive {
                top: -65px;
            }
        }
    }

    &.scroll-up {
        #{$p-header}__navbar {
            @include is-responsive {
                top: 0;
            }
        }
    }
}
