.c-button {
    $c-button: '.c-button';
    font-weight: 700;
    @include font-line(16, 32);
    padding: .375rem .75rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all ease-in-out 0.3s;

    &--main {
        &--w {
            color: $color-primary;
            background-color: #fff;

            &:hover {
                background-color: $color-primary;
                color: #fff;
                border: solid 1px $color-primary;
            }
        }

        background-color: $color-primary;

        &:hover {
            background-color: white;
            border:1px solid $color-primary;
            color: $color-primary;
        }

        &--b {
            &:hover {
                background-color: $color-text-default;
                color: $color-primary;
                border: 1px solid $color-text-default;
            }
        }
    }

    &--l {
        padding: 0.6rem 1.5rem;
        @include font-line(20, 30);

        @include is-responsive {
            padding: .5rem 1rem;
            @include font-line(17, 27);
        }
    }

    &--md {
        padding: .5rem 1rem;
        @include font-line(17, 27);
    }

    &--sm {
        padding: .25rem .5rem;
        @include font-line(14, 24);
    }

    &--box {
        border-radius: 0;
    }



    &--nobullet {
        padding: 0;

        &:after {
            display: none;
        }
    }

    &--return {

        &:after {
            transition: all ease-in-out 0.3s;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transform: rotate(45deg);
            border-bottom: 3px solid #fff;
            border-left: 3px solid #fff;
            width: 9px;
            height: 9px;
            left: 18px;

            @include is-sp {
                left: 16px;
            }
        }

        &:hover {
            &:after {
                border-bottom-color: $color-primary;
                border-left-color: $color-primary;
            }
        }
    }

    &--forward {
        &:after {
            transition: all ease-in-out 0.3s;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transform: rotate(45deg);
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            width: 9px;
            height: 9px;
            right: 18px;

            @include is-sp {
                right: 16px;
            }
        }

        &:hover {
            &:after {
                border-top-color: $color-primary;
                border-right-color: $color-primary;
            }
        }
    }

    &--notooltip {
        &:before {
            content: "" !important;
        }

        &:after {
            content: "" !important;
        }
    }

    &--disabled {
        background-color: rgba(0, 0, 0, 0.6);
        position: relative;
        pointer-events: none;

        &:before {
            content: attr(data-tooltip) !important;
            position: absolute;
            color: rgb(255, 121, 121);
            bottom: -20px;
            left: 0;
            right: 0;

            @include is-laptop {
                @include font-line(15, 15);
            }

            @include is-responsive {
                @include font-line(12, 12);
            }
        }
    }
}

[data-tooltip]:before {
    content: attr(data-tooltip);
}
