.c-card {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;

    &__inner {
        height: 100%;
        background: white;
        border-radius: 15px;
        box-shadow: 6px 6px 12px -6px rgba(0, 0, 0, .54);
        padding: 1.5rem;

        @include is-tablet {
            padding: 1.5rem;
        }

        @include is-sp {
            padding: 2rem;
        }

        &--noshadow {
            box-shadow: unset;
        }
    }

    &__top,
    &__center,
    &__bottom {
        position: relative;
    }

    &__top {
        margin-bottom: 15px;
        height: 200px;
    }

    &__center {
        margin-bottom: 15px;
    }

    &__bottom {
        min-height: 120px;
    }

    .title {
        @include font-line(18);
        text-align: center;
    }

    .description {
        @include font-line(14);
        text-align: left;
    }
}
