@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";
.page {
    .blog {
        $blog: '.blog';
        padding: 40px 0;

        &__inner {}

        &__left {
            flex: 1 1 70% !important;
            position: relative;
            overflow: hidden;
        }

        &__right {
            flex: 1 1 30% !important;
            position: relative;
        }

        &__innerRight {
            width: 300px;
        }

        &__data {
            display: flex;
            gap: 10px;
            margin-bottom: 40px;
        }

        &__content {
            overflow: hidden;
            word-break: break-word; //fix for long text
        }

        &__frame {
            width: 100%;
            max-height: 400px;
            overflow: hidden;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.1);
        }

        .date {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .tags {
            display: flex;
            align-items: center;
            gap: 10px;

            &-list {}

            &-link {
                text-decoration: none;
            }

            &-seal {
                font-weight: 500;
                transition: all 0.6s ease-out;
            }

            &-link:nth-child(odd) {
                .tags-seal {
                    background: $color-text-default;
                    padding: 3px 5px;
                    color: $color-primary;
                    border: 2px solid transparent;

                    &:hover {
                        background: #fff;
                        color: $color-primary;
                        border: 2px solid $color-primary;
                    }
                }
            }

            &-link:nth-child(even) {
                .tags-seal {
                    background: $color-primary;
                    padding: 3px 5px;
                    color: $color-text-default;
                    border: 2px solid transparent;

                    &:hover {
                        background: #fff;
                        color: $color-primary;
                        border: 2px solid $color-primary;
                    }
                }
            }
        }

        &.scroll-up,
        &.scroll-down {
            @include is-tabpc {
                #{$blog}__innerRight {
                    position: sticky;
                    width: 300px;
                    height: 25vh; // experiment with this value, try changing to 110vh
                    top: 0;
                }
            }

        }

        &.scroll-up {
            @include is-tabpc {
                #{$blog}__innerRight {
                    top: 90px;
                }
            }
        }


        // blog list

        // &__list {
        //     &Frame {
        //         max-height: 300px;
        //         overflow: hidden;
        //         text-align: center;
        //         background-color: rgba(0, 0, 0, 0.1);
        //     }
        // }
    }
}
