@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";

.page {
    &__top {
        height: 500px !important;
        background-color: transparent;
        background-image: linear-gradient(180deg, $bg-color-linear-top 0%, $bg-color-linear-bottom 100%);
        overflow: hidden;
        position: relative;
        z-index: 10;

        @include is-sp {
            height: 75vh;
        }

        &.isHome {
            height: 100% !important;

            @include is-sp {
                height: 100% !important;
            }
        }
    }

    &__ttl {
        text-align: center;
        color: #FFF;
        font-family: "Kosugi Maru", Sans-serif;
        font-weight: 600;
        @include font-line(32);
        text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.8);
    }

    &__mascot {
        position: relative;
        padding: 90px 0 90px;

        @include is-sp {
            padding: 20px 0 0;
        }
    }

    &__inner {
        @include is-sp {
            height: 800px;
            display: flex !important;
            flex-wrap: wrap-reverse;
        }
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;

        @include is-sp {
            justify-content: center;
        }
    }

    &__left {
        align-items: flex-end;
    }

    &__right {
        @include is-tabpc {
            flex: 0 1 35% !important;
        }

    }

    &__frame {
        display: flex;
        justify-content: flex-end;

        @include is-sp {
            padding: 0 20px;
            height: 500px;
        }
    }

    &__info {
        padding: 50px 0;
        display: block;

        @include is-sp {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 40px;
        }

        .info_ttl {
            background: #FFF;
            padding: 5px 20px;
            text-align: center;
            border-radius: 5px;
            font-family: 'Kosugi Maru', Sans-serif;

            @include is-sp {
                width: 100%;
            }

            span {
                background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                display: inline-block;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 700;
                letter-spacing: 1px;
                text-align: center;

                @include font-line(35);

                @include is-sp {
                    @include font-line(22);
                }
            }
        }

        .info_desc {
            color: white;
            font-family: 'Kosugi Maru', Sans-serif;
            text-shadow: -4px 2px 9px rgba(0, 0, 0, 0.91);
            @include font-line(20, 20);
            margin: 20px 0;
            font-weight: 600;

            @include is-sp {
                @include font-line(14, 20);
                text-align: center;
            }
        }
    }

    &__slider {
        background: rgba(255, 255, 255, 0);

    }

    .particle {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .banner-float {
        position: fixed;
        height: 130px;
        z-index: 9999;

        @include is-tabpc {
            bottom: 20px;
            right: 1%;
        }

        @include is-sp {
            padding: 0 20px;
            bottom: 0px;
            height: auto;
        }
    }
}
