@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";

.header-content {
    height: 100vh;
    background-image: url('../../img/bg_introduction.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about {
    padding: 90px 20px;

    &__inner {}

    &__info {
        padding: 20px 20px;
    }

    &__title,
    &__frame {
        text-align: center;
    }

    &__description {
        font-family: 'Karla', sans-serif;
        font-weight: 500;
        color: $color-text01;

        @include is-pc {
            @include font-line(16, 32);
        }
    }

}

.service {
    background: url('../../img/bg_section.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 99;

    &__overlay {
        background-color: #DEEFFF;
        opacity: 0.5;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
    }

    &__inner {
        padding: 90px 0;
    }

    &__title {
        text-align: center;
    }

    &__top {}

    &__bottom {
        display: flex;
        flex-wrap: wrap;

    }
}

.technology {
    &__inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__title {
        text-align: center;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 57vh;
    }
}


.merit {
    @extend .service;

    &__overlay {
        @extend .service__overlay;
    }

    &__inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__text {
        padding: 0 30px 0px;
    }

    &__title {
        text-align: center;
    }

    &__bottom {
        display: flex;
        padding: 60px 0 0;
        justify-content: space-between;
    }

    &__mascot {
        height: 240px;
        display: flex;

    }

    &__pic {
        margin: 0 auto;
    }

    &__contentCont {}
}

.member {
    &__inner {
        padding: 60px 0;
    }

    &__title {
        text-align: center;
    }

    &__bottom {
        overflow: hidden;

        .splide {
            overflow: hidden;

            &__slide {
                margin-right: 30px;

                img {
                    border-radius: 10px 10px 10px 70px !important;
                }
            }
        }
    }
}

.company {
    &__inner {
        padding: 90px 0;
    }

    &__showcase {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.faq {
    @extend .service;
    background-attachment: fixed;

    &__overlay {
        @extend .service__overlay;
    }

    &__inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__text {
        padding: 0 30px 0px;
    }

    &__title {
        text-align: center;
    }

    &__bottom {
        display: flex;
        padding: 60px 0 0;
        justify-content: space-between;
    }

    &__mascot {
        height: 240px;
        display: flex;

    }

    &__pic {
        margin: 0 auto;
    }

    &__left {
        width: 60%;
    }

    &__right {
        width: 40%;
    }
}

.contact {
    &__inner {
        padding: 70px 0;
    }

    &__content,
    &__contentCont {
        padding: 50px;
    }

    &__content {
        padding: 50px 0 50px 50px;
    }

    &__location {
        .highlight {
            font-weight: bold;
        }
    }

    &__mascot {
        margin: 20px 0;
    }

    &__bottom {
        display: flex;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
        -moz-box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
        box-shadow: 0px 0px 20px 0px rgba(30, 144, 255, 0.3);
    }

    &__left {
        width: 40%;
    }

    &__right {
        width: 60%;
    }

}
