@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";

.page {
    &__top {
        height: 50vh !important;
    }
}

.development {
    &__inner {
        padding: 50px 0;
    }

    &__left,
    &__right {
        @include is-sp {
            width: 100%;
        }
    }

    &__heading {
        width: 100%;
    }

    &__title,
    &__chart {
        padding: 10px;
    }

    &__title {

        .description {
            text-align: center;
            margin-bottom: 20px;
            @include font-line(14);
        }
    }

    &__chart {
        text-align: center;
        .pic {
            @include is-tabpc{
                width: 85%;
            }
            @include is-sp{
                width: 100%;
            }
        }
    }
}

.products {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F77737 0%, #F09433 100%);
    background-size: cover;
    background-position: center center;

    &__inner {
        padding: 90px 0;

        @include is-sp {
            padding: 40px 0;
        }
    }

    &__heading {
        color: #FFFFFF;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
        font-size: 25px;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;

        @include is-sp {
            display: block;
        }
    }


    .card {
        @include is-sp {
            border-radius: 20px;
            padding: 30px 20px;
        }

        &__ttl {
            color: #F77737;
            text-align: center;
            padding-bottom: 0;

            @include is-pc {
                @include font-line(18);
            }
        }

        &__desc {
            @include is-tabpc {
                height: 110px;
            }

            @include is-sp {
                @include font-line(12);
            }
        }
    }
}


.people {
    display: block;

    &__heading {
        width: 100%;
    }

    &__bottom {
        justify-content: space-around;
        display: flex;

        @include is-sp {
            display: block;
        }
    }

    &__card {
        width: 50%;

        @include is-sp {
            width: 100%;
        }
    }

    &__title {
        font-size: 1.125rem;
        text-align: center;
        color: #000;
        font-weight: 700;
        padding: 15px;

        @include is-sp {
            @include font-line(16);
        }
    }

    &__desc {
        text-align: left;
        font-weight: 400;
        margin-bottom: 20px;

        @include is-sp {
            padding: 20px 0;
            @include font-line(14);
        }
    }

    &__pic {
        height: 340px;

        @include is-sp {
            height: 223px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__center,
    &__bottom {
        height: auto;
    }

    &__bottom {
        max-height: 100%;
    }
}

.costs {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    position: relative;
    // z-index: 99;

    &__heading {
        width: 100%;
    }

    &__overlay {
        background-color: transparent;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #F09433 100%);
        opacity: 1;
        mix-blend-mode: screen;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        // z-index: -1;
    }

    &__inner {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }

    &__text {
        padding: 0 30px;
        text-align: center;
        letter-spacing: 1px;
        @include font-line(14);

        @include is-sp {
            @include font-line(13);
        }
    }

    &__banner {
        height: 180px;

        @include is-tabpc {
            position: absolute;
            right: 0;
            top: 0;
        }

        @include is-sp {
            text-align: center;
        }
    }

    &__bottom {
        display: flex;
        padding: 60px 0 0;

        @include is-sp {
            flex-wrap: wrap;
        }
    }

    &__mascot {
        position: relative;
        height: 338px;
        text-align: right;

        @include is-tabpc {
            height: 240px;
            display: flex;
        }
    }

    &__pic {
        position: absolute;
        left: 20px;
        width: 90%;

        &--first {
            z-index: 1;
        }

        &--second {
            z-index: 2;
        }
    }


    &__left {
        @include is-tabpc {
            width: 30%;
            position: relative;
        }
    }

    &__right {
        @include is-tabpc {
            width: 70%;
            padding: 60px 0;
        }
    }

    &__left,
    &__right {
        @include is-sp {
            position: relative;
            width: 100%;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;

        @include is-tabpc {
            gap: 10px;
        }

        @include is-sp {
            justify-content: space-around;
            height: 250px;
        }
    }

    .listItem {
        width: 160px;

        &__pic {
            @include is-tabpc {
                height: 80px;
            }
        }

    }
}


.employment {

    &__inner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__heading {
        width: 100%;
    }

    &__bottom {
        display: flex;

        @include is-sp {
            display: block;
        }
    }

    &__text {
        padding: 0 30px;
        text-align: center;
        letter-spacing: 1px;
        @include font-line(14);

        @include is-sp {
            @include font-line(13);
        }
    }

    &__overviewTbl {
        display: grid;
        text-align: left;
        line-height: 3;
    }

    &__mascot {
        position: relative;
        height: 338px;
        text-align: right;

        @include is-sp {
            text-align: center;
        }
    }

    &__left {
        @include is-tabpc {
            width: 70%;
        }
    }

    &__right {
        @include is-tabpc {
            width: 30%;
        }
    }

    &__left,
    &__right {
        @include is-sp {
            width: 100%;
        }
    }

    &__zzz {
        position: absolute;
        left: 2px;

        @include is-sp {
            left: 0;
            right: 0;
            margin: auto;
        }

        &--first {
            z-index: 1;
        }

        &--second {
            z-index: 2;
        }

        &--third {
            z-index: 3;
        }
    }

}

.support {
    display: block;
    background-color: white;
    position: relative;

    &__text {
        padding: 0 30px 0px;
        text-align: center;
        font-size: 14px;
    }

    &__heading {
        width: 100%;
    }

    &__view {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 1.125rem;
        text-align: center;
        color: #000;
        font-weight: 700;
        padding: 15px;
    }

    &__desc {
        text-align: left;
        font-weight: 100;
        margin-bottom: 20px;
        padding: 0 20px 20px;
    }

    &__pic {
        background-size: cover;
        width: auto;
    }

    &__center,
    &__bottom {
        height: auto;
    }

    &__bottom {
        max-height: 100%;
    }
}

.bpo {
    display: block;
    background-color: white;
    position: relative;

    &__inner {
        position: relative;
    }

    &__heading {
        width: 100%;
    }

    &__text {
        padding: 0 30px 0px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .bottom {
        justify-items: center;
        display: inline-flex;

        @include is-sp {
            display: block;
        }
    }

    &__card {
        width: 50%;

        @include is-sp {
            width: 100%;
        }
    }

    &__pic {
        height: 340px;
        border: 1px solid;

        @include is-sp {
            height: 220px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-size: 1.125rem;
        text-align: center;
        color: #000;
        font-weight: 700;
        padding: 15px;
    }

    &__desc {
        text-align: left;
        font-weight: 100;
        margin-bottom: 20px;
        line-height: 1.6;

        @include is-sp {
            padding: 0;
        }
    }

    &__center,
    &__bottom {
        height: auto;
    }

    &__bottom {
        max-height: 100%;
    }
}
