@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";

.page {
    .sitemap {
        &__heading {
            width: 100%;
        }

        &__block {
            margin-bottom: 20px;
        }

        &__link {
            padding: 0;

            @include is-tabpc {
                display: flex;
                flex-wrap: wrap;
            }

            .listItem {
                margin-bottom: 10px;
                margin-right: 13px;

                @include is-tabpc {
                    width: 240px;
                }
            }

            .button {
                width: 100%;
                display: flex;
                height: 50px;
                padding: 0 0 0 20px;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                color: $color-text04;
                text-decoration: none;
                font-weight: 700;
                background-color: #f1f1f1;
                border-radius: 5px;
                cursor: pointer;
                @include font-line(14, 14);

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 8px;
                    height: 8px;
                    margin: auto 0;
                    transform: rotate(45deg);
                    right: 18px;
                    border-top: 2px solid $color-text04;
                    border-right: 2px solid $color-text04;
                }
            }
        }
    }
}
