@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";
// about
.top_about {
    padding: 90px 0;

    &__inner {}

    &__info {
        text-align: center;
    }



    &__description {
        font-size: 14px;
        text-align: left;
    }
}

// services
.top_service {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F77737 0%, #F09433 100%);
    padding: 20px 0;

    &__inner {}

    &__top {
        text-align: center;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        color: white;
    }

    &__bottom {
        display: flex;

        @include is-sp {
            display: block;
        }
    }

    &__card {
        border-radius: 10px 10px 10px 10px;
    }

    &__card_title {
        padding: 10px 0 0 0 !important;
        color: $color-primary;
    }

    &__card_desc {
        padding: 20px 0;
        font-size: 14px;
        font-weight: 200 !important;
        text-align: left;
    }
}

//benefits
.top_benefits {
    padding: 20px 0;

    &__inner {}

    &__top {
        text-align: center;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
        padding: 15px 0 0 0;
    }

    &__card_title {
        color: $color-primary;
    }

    &__card01 {
        height: 660px;
        width: 360px;
    }

    &__card_desc {
        font-size: 14px;
        font-weight: 200 !important;
        text-align: left;
    }

    .b_pic {
        margin: 10px 0;
    }

    .b_num {
        margin: 10px 0;
    }

    .benefits_pic {
        max-width: 212px !important;
        max-height: 212px !important;
    }

    .num_pic {
        max-width: 53px !important;
        max-height: 53px !important;
    }
}


.top_mascot {
    height: 252px;
    position: relative;
    padding: 22px 0;
    background: url('../../../../tinified/pc/img/bg_grass_walking_mascot.png') repeat-x;
    background-size: 3000px 255px;
    background-position: 0 0;
    animation: slidebackground 35s linear infinite;

    @include is-sp {
        background-size: 2000px 255px;
        animation: slidebackground 60s linear infinite;
    }

    @keyframes slidebackground {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 100% 0;
        }
    }

    @include is-sp {
        margin-bottom: 70px;
    }

    &:after {
        content: " ";
        height: 70px;
        width: 100%;
        background-color: rgba(0, 0, 0, .73);
        position: absolute;
        left: 0;
        z-index: 0;
        bottom: -70px;
    }

    &__clouds {
        position: absolute;
        left: 0;
        right: 0;
        top: -15px;

        @include is-sp {
            top: 20px;
        }

        .cloud {
            max-width: 18%;

            &:nth-child(n+4) {
                transform: scaleX(-1);
            }
        }
    }

    &__inner {
        position: relative;
        height: inherit;
        z-index: 1;
        display: block;

        &:before {
            content: " ";
            background-image: url('../../../../tinified/pc/img/bg_building02_walking_mascot.png');
            background-size: 100% 100%;
            position: absolute;
            height: 190px;
            width: 300px;
            bottom: 0;
            left: 0;

            @include is-sp {
                height: 115px;
                width: 200px;
            }
        }

        &:after {
            content: " ";
            background-image: url('../../../../tinified/pc/img/bg_building01_walking_mascot.png');
            background-size: 100% 100%;
            position: absolute;
            height: 190px;
            width: 300px;
            bottom: 0;
            right: 10px;

            @include is-sp {
                height: 115px;
                width: 200px;
            }
        }
    }

    .mascot {
        position: absolute;
        bottom: -30px;
        height: 180px;
        z-index: 2;
        margin: 0 auto;
        left: calc(50% - 100px);

        @include is-sp {
            height: 169px;
            left: calc(50% - 90px);
        }
    }
}

// clients

.top_client {
    background-color: rgba(122, 122, 122, .09);

    @include is-tabpc {
        padding: 90px 0;
    }

    &__top {
        text-align: center;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__client {
        margin: auto 0;

        @include is-sp {
            padding: 20px 40px;
        }
    }

    .client_logo {
        height: 118px;
        margin: 0 20px;
    }

    .bukkenoh {
        height: 20px;
    }

    .adlive {
        height: 50px;
    }

    .alis {
        height: 75px;
    }

    .hnbo {
        height: 60px;
    }

    .goodlife {
        height: 80px;
    }

    .na {
        height: 90px;
    }

    .hts {
        height: 40px;
    }
}

//voice

.top_voice {
    padding: 70px 0;

    &__info {
        text-align: center;
    }

    &__inner {
        padding: 0 !important;
    }

    &__left {
        margin: auto;

        @include is-sp {
            width: 100%;
        }
    }

    &__right {
        @include is-sp {
            width: 100%;
        }
    }

    &__pic {
        margin: 20px 0 0 0;
        height: 295px;

        @include is-sp {
            height: 240px;
        }
    }

    &__icon {
        @include font-line (14, 30);
        text-align: right;
    }

    &__message {
        @include font-line (14, 25);
        text-align: left;
        color: #7a7a7a;
    }

    .fa-quote-right {
        color: lightgray;
    }

    &__author {
        margin-top: 20px;
        text-align: left;
    }

    &__subtext {
        @include font-line (14, 30);
    }

    &__text {
        @include font-line (14, 30);
        color: #7a7a7a;
    }
}

//faq

.top_faq {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F77737 0%, #F09433 100%);
    padding: 20px 0;

    &__inner {}

    &__top {
        text-align: center;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        color: white;
    }

    .faq_content {
        width: 45%;
        margin: 0 auto;
        padding: 20px 0 0;

        @include is-sp {
            width: 100%;
            padding: 20px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;

        @include is-sp {
            display: block;
            height: auto;
        }
    }

    &__img {
        padding-top: 0 !important;
        position: relative;
    }

    &__pic {
        margin: auto;
        height: 135px;
        display: block;
        &:first-child{
            height: 55px;
        }
        &:last-child{
            height: 90px;
        }
    }

    .faq_img {
        text-align: center;
        width: 100%;
        height: 100%;
        @include is-tabpc{
            position: absolute;
        }
    }

    &__letter {
        margin: 5px 0;
    }

    &__text {
        color: white;
        @include font-line (20, 30);
    }

    &__subtext {
        color: white;
        @include font-line (14, 20);
        margin: 15px 0;
    }

    &__icon {
        height: 25px;
    }
}

//news
.top_news {
    padding: 30px 0;

    &__info {
        text-align: center;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
    }

    &__tr {
        border-bottom: dashed 1px #A8A8A8;
        padding-bottom: 5px;
    }

    &__td {
        height: 70px;
    }

    .top_news {
        background-color: #F77737;
        border-radius: 50px;
        width: 60px;
        height: 27px;
        text-align: center;
        color: white;
        padding: 0px 0px;
        margin: 0 10px;
    }

    .row_news {}

    .row_date {
        color: #7a7a7a;
        text-align: left;
        @include font-line (14, 20);
    }

    .top_date {
        @include is-sp {
            margin: 0 10px;
        }
    }

    .row_info {
        text-align: left;
        @include font-line (15, 20);
    }

    .top_info {
        color: black;
    }

    .row_link {
        width: 70px;
    }

    .top_link {
        font-weight: 600;
        color: black;

        &:hover {
            color: #F77737;
        }
    }
}

.mascot_walk {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}
