@charset "UTF-8";
/*
    include variables amd function
*/
@import "../core/mixins/*";
@import "../core/root/_variables";

.page {
    &__top {
        height: auto;
        background-color: #fff;
        overflow: hidden;
    }


    .lp {
        &__button {
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            border-radius: 5px;
            letter-spacing: 5px;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        &__header {
            padding: 10px 0;
        }
    }

    .introduction {
        background-color: #D2D1D6;
        position: relative;
        z-index: 1;
        padding: 40px 0 0;

        &__inner {
            padding-bottom: 0;
        }

        &__frame {
            position: absolute;
            z-index: -1;
            right: -23%;
            height: 100%;
        }

        &__balloon-tail {
            position: absolute;
            z-index: -5;
            right: 22%;
            top: 0px;
            height: 20%;
        }

        &__con {
            height: 690px;
            position: relative;
            padding: 0;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
                height: 500px;
            }
        }

        &__title {
            color: $color-text03;
            @include font-line(35);
            font-weight: 600;
            font-family: Muli, 'Segoe UI', Tahoma, sans-serif;
            background-color: #454545;
            border-radius: 10px;
            width: 80%;
            text-align: center;
            padding: 8px;
            margin: 0 auto 20px 0;

            @include is-sp {
                width: 100%;
                font-size: 20px;
                font-size: 1.8rem;
            }
        }

        &__price {
            @include font-line(40);
            color: yellow;
            font-family: Muli, 'Segoe UI', Tahoma, sans-serif;
            text-shadow: 2px 2px 5px $color-text-default;
            letter-spacing: 3px;
            margin-bottom: 20px;

            @include is-sp {
                font-size: 2.2rem;
                letter-spacing: 1px;
                text-align: center;
            }
        }

        &__text01 {
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 3px;

            @include is-sp {
                font-size: 2.2rem;
                letter-spacing: 1px;
            }
        }

        &__text02 {
            color: $color-text03;
            font-size: 42px;

            @include is-sp {
                font-size: 1.5rem;
            }
        }

        &__rent {
            font-size: 70px;
            font-weight: 600;
            color: $color-text03;
            text-shadow: 2px 2px 5px $color-text-default;
            line-height: 0.5;

            @include is-sp {
                font-size: 3.5rem;
                line-height: 1;
                text-align: center;
            }
        }

        &__button {
            width: 600px;
            margin: auto;
            position: relative;
            margin-top: 268px;

            @include is-sp {
                width: 100%;
                margin-top: 0px;
            }

            .circle {
                background-color: white;
                width: 110px;
                height: 110px;
                border-radius: 50%;
                color: $color-text-default;
                font-size: 20px;
                font-weight: 700;
                padding: 35px 15px;
                position: absolute;
                z-index: 1;
                -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                line-height: 1;

                .red {
                    color: red;
                }

                @include is-sp {
                    font-size: 1rem;
                    width: 100px;
                    height: 100px;
                    top: 15px;
                }
            }

            .button {
                width: 550px;
                left: 85px;
                top: 15px;
                height: 80px;
                font-size: 24px;
                font-weight: 800;
                background-color: #FF7700;
                -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                color: white;
                position: absolute;
                letter-spacing: 1px;
                font-family: Muli, 'Segoe UI', Tahoma, sans-serif;
                border-radius: 5px;

                @include is-sp {
                    position: relative;
                    width: 75%;
                    font-size: .8rem;
                    top: 35px;
                    left: 84px;
                    height: 65px;
                    padding-left: 20px;
                    z-index: 0;
                }
            }
        }
    }

    .advertise {
        position: relative;
        background: #FFF5E1;

        @include is-sp {
            background-image: none;
        }

        &__balloon-arrow {
            padding: 0px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #D2D1D6;
                transform: rotate(90deg);
                top: -24px;
                left: 45%;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            position: relative;
            padding: 50px 10px;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__center {
            display: flex;
            justify-content: space-between;

            .left {
                width: 40%;
                position: relative;
            }

            .right {
                width: 60%;
            }
        }

        &__title {
            text-align: center;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 50px;
            color: $color-text01;

            @include is-sp {
                text-align: center;
                font-size: 2.2rem;
                margin-bottom: 20px;
            }
        }

        &__frame {
            height: 266px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                transform: scaleX(-1);
            }
        }

        &__text {
            width: 100%;

            @include is-sp {
                width: 100%;
            }

            p {
                @include font-line(20);
                font-weight: 600;
                color: $color-text01;
                padding: 10px 0;
                display: flex;
                align-items: center;

                @include is-sp {
                    font-size: 1.5rem;
                    padding-bottom: 10px;
                    display: flex;
                }

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;

                    @include is-sp {
                        width: 28px;
                        height: 28px;
                        margin-right: 10px;
                        margin-top: 7px;
                    }
                }
            }
        }
    }

    .advertisement {
        position: relative;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #FFF5E1;
                transform: rotate(90deg);
                top: -24px;
                left: 43%;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            margin: auto;
            position: relative;

            @include is-sp {
                width: 100%;
                padding: 30px 10px;
            }

            h2,
            h1,
            h3 {
                text-align: center;
            }

            .title {
                &--s {
                    @include font-line(30);
                    font-weight: 700;
                    color: $color-text01;

                    @include is-sp {
                        line-height: 1.3;
                        font-size: 1.5rem;
                    }
                }

                &--b {
                    font-size: 70px;
                    font-weight: 800;
                    margin: -15px 0 10px;
                    color: $color-text01;
                    @include font-line(44);

                    .orange {
                        color: orange;
                    }

                    @include is-sp {
                        font-size: 2.5rem;
                        line-height: 1.2;
                        margin: 30px 0;
                    }
                }
            }

            .desc {
                @include font-line(24);
                color: $color-text01;

                @include is-sp {
                    margin-top: 20px;
                    line-height: 1;
                }
            }

            .feature {
                @include font-line(30);
                color: green;
                margin-bottom: 20px;
                font-family: 'Yu mincho';
            }

            .features {
                background-color: #eeeeee;
                display: flex;
                border-radius: 10px;
                box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                margin-bottom: 20px;
                padding: 10px;
                align-items: center;
                justify-content: center;


                @include is-sp {
                    width: 100%;
                    height: auto;
                    display: block;
                    padding: 0 10px;
                    padding-bottom: 10px;
                }

                &__title {
                    color: #00902B;
                    font-weight: 700;
                    font-family: 'Yu mincho';
                    @include font-line(30);
                    text-align: center;
                    width: 30%;

                    @include is-sp {
                        width: 100%;
                        display: block;
                        font-size: 2rem;
                        text-align: center;
                    }
                }

                &__desc {
                    color: #333333;
                    font-weight: 700;
                    @include font-line(20, 30);
                    text-align: left;
                    width: 70%;
                    letter-spacing: 2px;

                    @include is-sp {
                        width: 100%;
                        display: block;
                        font-size: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    .bg-blue {
        background-color: #1A52A4;

        .p-button {
            width: 600px;
            height: 250px;
            margin: auto;
            position: relative;

            @include is-sp {
                width: 100%;
                padding: 0 10px;
                height: 150px;
            }

            .circle {
                background-color: white;
                width: 110px;
                height: 110px;
                top: 65px;
                border-radius: 50%;
                color: $color-text-default;
                font-size: 20px;
                font-weight: 700;
                padding: 35px 15px;
                position: absolute;
                z-index: 1;
                -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                line-height: 1;

                .red {
                    color: red;
                }

                @include is-sp {
                    font-size: 1rem;
                    width: 100px;
                    height: 100px;
                    top: 25px;
                }
            }

            .button {
                width: 550px;
                left: 85px;
                top: 80px;
                height: 80px;
                font-size: 26px;
                font-weight: 800;
                background-color: $color-primary;
                -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
                color: white;
                position: absolute;
                letter-spacing: 1px;
                font-family: Muli, 'Segoe UI', Tahoma, sans-serif;
                border-radius: 5px;

                @include is-sp {
                    position: relative;
                    width: 75%;
                    font-size: .8rem;
                    top: 45px;
                    left: 84px;
                    height: 65px;
                    padding-left: 20px;
                    z-index: 0;
                }
            }
        }
    }

    .lab {
        background-color: #FFF5E1;
        position: relative;

        @include is-sp {
            background-image: none;
        }

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #FFF5E1;
                transform: rotate(90deg);
                top: 350px;
                left: 43%;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__balloon-tail {
            position: absolute;
            right: 58%;
            top: 89px;
            height: 60px;
        }

        &__con {
            display: flex;
            justify-content: space-between;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }

            .left {
                width: 40%;
            }

            .right {
                width: 60%;
            }
        }

        &__frame {
            height: 266px;
            text-align: center;
        }

        &__text {
            background-color: #454545;
            border-radius: 10px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            padding: 20px 0;

            @include is-sp {
                width: 100%;
                height: auto;
            }
        }

        &__price {
            @include font-line(24);
            color: white;
            font-weight: 600;
            padding-left: 50px;
            margin: 0px 0 30px;

            @include is-sp {
                font-size: 2rem;
                padding-top: 20px;
                padding: 0 10px;
                padding-top: 20px;
                line-height: 1.2;
                margin-top: 0;
            }
        }

        &__title {
            @include font-line(24);
            color: white;
            padding-left: 50px;
            line-height: 1;

            @include is-sp {
                font-size: 1.5rem;
                padding: 0 10px;
                line-height: 1.2;
            }
        }

        &__desc {
            color: $color-primary;
            padding-left: 50px;
            @include font-line(30);
            font-weight: 700;
            line-height: 1.5;

            &--white {
                @include font-line(24);
                color: white;

                @include is-sp {
                    font-size: 1.5rem;
                }
            }

            @include is-sp {
                font-size: 2rem;
                padding: 0 10px;
                line-height: 1.2;
                padding-bottom: 20px;
            }
        }
    }

    .type {
        position: relative;

        @include is-sp {
            background-image: none;
        }

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid white;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                top: 1165px;
                left: 43%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            @include is-sp {
                width: 100%;
                padding: 20px 10px;
                height: auto;
            }
        }

        &__top {
            display: flex;

            .left {
                width: 60%;
            }

            .right {
                width: 40%;

                .frame {
                    height: 266px;
                    text-align: center;
                }
            }
        }

        &__title {
            @include font-line(40);
            color: $color-primary;
            font-weight: 800;
            text-align: center;

            .black {
                color: black;
            }

            @include is-sp {
                font-size: 2rem;
            }
        }

        &__balloon-tail {
            position: absolute;
            z-index: 1;
            right: 36%;
            top: 213px;
            height: 60px;
        }

        &__desc {
            width: 100%;
            background-color: #454545;
            color: white;
            border-radius: 10px;
            @include font-line(24);
            font-weight: 600;
            line-height: 1.6;
            padding: 20px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            .space {
                padding-bottom: 20px;
            }

            @include is-sp {
                width: 100%;
                padding: 10px 20px;
                font-size: 1.5rem;
                line-height: 1.3;
            }

        }

        &__textbody-02 {
            margin-top: 30px;
        }

        &__service {
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 46px;
            font-weight: 700;

            @include is-sp {
                font-size: 2rem;
                line-height: 1.2;
            }
        }

        &__img {
            align-items: center;

            @include is-sp {
                margin: auto;
                display: block;
            }
        }
    }

    .resources {
        background-color: #FFF5E1;
        position: relative;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #FFF5E1;
                transform: rotate(90deg);
                top: 380px;
                left: 43%;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            display: flex;
            justify-content: space-between;
            padding: 50px 0 0;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }

            .left {
                width: 40%;

                .frame {
                    height: 266px;
                    text-align: center;
                }
            }

            .right {
                width: 60%;
            }
        }

        &__text {
            background-color: #454545;
            color: white;
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                @include font-line(24);
                font-weight: 700;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding-bottom: 10px;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
                margin: 0;
            }
        }

        &__balloon-tail {
            position: absolute;
            z-index: 1;
            right: 58%;
            top: 137px;
            height: 60px;
        }
    }

    .answer {
        position: relative;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #ffffff;
                transform: rotate(90deg);
                top: 380px;
                left: 43%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            display: flex;
            justify-content: space-between;
            padding: 50px 0 0;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
                margin: 30px auto;
            }

            .left {
                width: 60%;
            }

            .right {
                width: 40%;

                .frame {
                    height: 266px;
                    text-align: center;
                }
            }
        }

        &__text {
            background-color: #454545;
            color: white;
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            position: relative;

            p {
                @include font-line(24);
                font-weight: 600;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding-bottom: 10px;
                }

                .highlight {
                    @include font-line(40);
                    font-weight: 900;
                }
            }


            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__balloon-tail {
            position: absolute;
            z-index: 1;
            right: 36%;
            top: 120px;
            height: 60px;
        }
    }


    .white {
        height: 10px;

        @include is-sp {
            height: 10px;
        }
    }

    .faq {
        position: relative;

        &__inner {
            position: relative;
            padding: 50px 10px;
        }

        &__top,
        &__bottom {
            position: relative;
        }

        &__img {
            height: 105px;
            width: 105px;
            position: absolute;

            &--first {
                top: 0;
                left: -134px;
            }

            &--second {
                right: -134px;
                bottom: 0;
            }
        }
    }

    .balloon-arrow {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            border: 89px solid transparent;
            border-left: 41px solid #ffffff;
            transform: rotate(90deg);
            top: -23px;
            left: 45%;
            z-index: 1;

            @include is-sp {
                display: none;
            }
        }
    }


    .faq1 {
        background-color: #FFF5E1;
        position: relative;

        &__con {
            margin: auto;
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 0 10px;
                padding-bottom: 40px;
            }
        }

        &__title {
            @include font-line(44);
            text-align: center;
            margin: 0;
            color: red;

            @include is-sp {
                margin-top: 0;
            }
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 50px;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    line-height: 1.3;
                    font-size: 1.5rem;
                }
            }

            .desc {
                font-size: 28px;
                font-weight: 700;
            }

            .title {
                padding-bottom: 0;
                margin: 30px 0;
                font-weight: 400;
            }

            .flex {
                display: flex;
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__flex {
            justify-content: center;
        }

        &__card01 {
            border: 1px solid white;

            p {
                padding-bottom: 0;
                padding: 5px 0;
                padding-left: 15px;
                font-weight: 400;
            }

            .button {
                border: 1px solid white;
                background-color: #07AA58;
                width: 100%;
                height: 80px;
                font-size: 24px;
                font-weight: 400;
                text-align: left;
                padding-left: 15px;

                @include is-sp {
                    font-size: 1.5rem;
                }
            }
        }

        &__card02 {
            .top {
                height: 80%;
                padding: 150px 15px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.2rem;
                    padding: 100px 10px;
                }
            }

            .bottom {
                padding-bottom: 0;
                padding-left: 15px;
                padding-top: 30px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.2rem;
                }
            }
        }

        &__img1 {
            top: 135px;
            left: 0;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 50px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .faq2 {
        background-color: #FFF5E1;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #ffffff;
                transform: rotate(90deg);
                top: 640px;
                left: 40%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 0 10px;
                padding-bottom: 20px;
            }
        }

        &__title {
            font-size: 44px;
            text-align: center;
            color: red;
            margin-top: 0;
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 50px;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
                line-height: 1.3;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 500;
                padding-bottom: 30px;

                @include is-sp {
                    line-height: 1.3;
                    font-size: 1.5rem;
                }
            }

            .title {
                font-size: 24px;
                font-weight: 500;

                @include is-sp {
                    font-size: 1.5rem;
                }
            }

            .desc01 {
                font-size: 28px;
                font-weight: 700;

                @include is-sp {
                    font-size: 1.6rem;
                }
            }

            .desc02 {
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.6rem;
                }
            }

            .desc03 {
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    padding-bottom: 0;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__img1 {
            top: 165px;
            left: 0;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 50px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .faq3 {
        background-color: #FFF5E1;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #ffffff;
                transform: rotate(90deg);
                top: 480px;
                left: 40%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__title {
            font-size: 44px;
            text-align: center;
            color: red;
            margin-top: 0;
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 80px;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    line-height: 1.3;
                    font-size: 1.5rem;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;
                padding-bottom: 30px;

                @include is-sp {
                    line-height: 1.3;
                    font-size: 1.5rem;
                }
            }

            .title {
                font-size: 28px;
                font-weight: 700;

                @include is-sp {
                    font-size: 1.6rem;
                }
            }

            .last {
                @include is-sp {
                    padding-bottom: 0;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__img1 {
            top: 142px;
            left: 0px;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 20px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .faq4 {
        background-color: #FFF5E1;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #ffffff;
                transform: rotate(90deg);
                top: 665px;
                left: 40%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__title {
            font-size: 44px;
            text-align: center;
            color: red;
            margin-top: 0;
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 80px;
            -webkit-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            -moz-box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;
                padding-bottom: 30px;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            .title {
                font-size: 24px;
                font-weight: 700;

                @include is-sp {
                    font-size: 2rem;
                    line-height: 1.3;
                }
            }

            .flex {
                display: flex;

                .top {
                    padding-bottom: 0;
                }
            }

            .last {
                @include is-sp {
                    padding-bottom: 0;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__img1 {
            top: 142px;
            left: 0;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 20px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .faq5 {
        background-color: #FFF5E1;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #ffffff;
                transform: rotate(90deg);
                top: 800px;
                left: 40%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__title {
            font-size: 44px;
            text-align: center;
            color: red;
            margin-top: 0;
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 50px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;
                padding-bottom: 30px;

                @include is-sp {
                    line-height: 1.3;
                    font-size: 1.5rem;
                }
            }

            .title {
                font-size: 26px;
                font-weight: 600;

                @include is-sp {
                    line-height: 1.3;
                    font-size: 1.7rem;
                }
            }

            .last {
                @include is-sp {
                    padding-bottom: 0;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__img1 {
            top: 163px;
            left: 0;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 50px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .faq6 {
        background-color: #FFF5E1;

        &__balloon-arrow {
            position: relative;
            padding: 25px 0;

            &:before {
                content: "";
                position: absolute;
                border: 89px solid transparent;
                border-left: 41px solid #ffffff;
                transform: rotate(90deg);
                top: 1360px;
                left: 40%;
                z-index: 1;

                @include is-sp {
                    display: none;
                }
            }
        }

        &__con {
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__title {
            font-size: 44px;
            text-align: center;
            color: red;
            margin-top: 0;
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 50px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;
                padding-bottom: 30px;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            .title {
                font-size: 28px;
                font-weight: 700;

                @include is-sp {
                    font-size: 1.8rem;
                    line-height: 1.3;
                }
            }

            .last {
                @include is-sp {
                    padding-bottom: 0;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__img1 {
            top: 163px;
            left: 0;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 50px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .faq7 {
        background-color: #FFF5E1;

        &__con {
            padding-bottom: 40px;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__title {
            font-size: 44px;
            text-align: center;
            color: red;
            margin-top: 0;
        }

        &__text01 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 50px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__text02 {
            background-color: #454545;
            color: white;
            width: 75%;
            padding: 20px 40px;
            border-radius: 10px;
            margin: auto;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                line-height: 1.7;
                font-size: 24px;
                font-weight: 400;
                padding-bottom: 30px;

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            .title {
                font-size: 32px;
                font-weight: 600;

                @include is-sp {
                    font-size: 1.8rem;
                    line-height: 1.3;
                }
            }

            .last {
                @include is-sp {
                    padding-bottom: 0;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__img1 {
            top: 163px;
            left: 0;
        }

        &__img2 {
            right: 0;
            bottom: 40px;
        }

        &__balloon-tail-left {
            position: absolute;
            right: 96%;
            bottom: 50px;
            height: 60px;
        }

        &__balloon-tail-right {
            position: absolute;
            right: -4%;
            bottom: 86px;
            height: 60px;
        }
    }

    .free {
        &__con {
            display: flex;
            justify-content: space-between;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
                background-image: none;
            }

            .left {
                width: 40%;

                .frame {
                    height: 266px;
                    text-align: center;
                }
            }

            .right {
                width: 60%;
            }
        }

        &__text {
            background-color: #454545;
            color: white;
            width: 100%;
            padding: 20px 40px;
            margin-top: -60px;
            margin-right: 150px;
            border-radius: 10px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                .highlight {
                    @include font-line(30);
                    line-height: 3;
                    font-weight: 700;
                }

                font-weight: 600;
                @include font-line(20);

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }
        }

        &__balloon-tail-left {
            position: relative;
            right: 8%;
            bottom: -35px;
            height: 60px;
        }
    }

    .info {
        background-color: #D2D1D6;
        position: relative;
        z-index: -1;
        height: 500px;
        &__con {
            padding-bottom: 40px;
            padding-top: 60px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;

            @include is-sp {
                width: 100%;
                padding: 20px 10px;
            }
        }

        &__text {
            background-color: #454545;
            color: white;
            width: 63%;
            margin-right: auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, .75);

            p {
                font-weight: 600;
                @include font-line(30);

                @include is-sp {
                    font-size: 1.5rem;
                    line-height: 1.3;
                }
            }

            .big {
                @include font-line(34);
                margin-top: 30px;

                @include is-sp {
                    font-size: 1.7rem;
                    line-height: 1.3;
                }
            }

            @include is-sp {
                width: 100%;
                padding: 20px;
            }
        }

        &__balloon-tail-right {
            position: absolute;
            right: 33%;
            top: 81px;
            height: 60px;
            @include is-sp {
                display: none;
            }
        }

        &__frame {
            position: absolute;
            z-index: -1;
            right: -18%;
            height: 680px;
            bottom: -75%;
        }
    }
}
