.l-wrap {
    position: relative;
    padding: 0 1rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include is-sp{
        max-width: $wrap-phone;
    }
    @include is-tablet{
        max-width: $wrap-tablet;
    }
    @include is-laptop{
        max-width: $wrap-laptop;
    }
    @include is-pc{
        max-width: $wrap-desktop;
    }

    &--fluid{
        width: 100%;
        padding: 0 1rem;
    }
}
