/*
    THIS STYLE IS ADDED TO LARAVEL
    VIEW > VENDOR > PAGINATION > ***
*/
.p-paginate {

    &__list {
        padding: 1rem 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__arrow {
        @include font-line(40);
        font-weight: bolder;

        a {
            transition: 0.3s color ease-in-out;
            color: $color-primary !important;

            &:hover {
                color: $color-secondary !important;
            }
        }
    }

    .disabled {
        pointer-events: none;
        color: grey;
    }

    .active {
        color: $color-primary;
        @include font-line(30);
        pointer-events: none;
    }

    .inactive {
        transition: 0.3s color ease-in-out;

        &:hover {
            color: $color-primary;
        }
    }

    a {
        color: grey;
        font-weight: bold;
    }
}
