.p-slider {
  .keen-slider,
  .keen-slider__slide {
    overflow: unset !important;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: flex-end;
    width: 80%;
    @include is-responsive {
      width: 96%;
    }
    &__arrow {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      background-color: $color-main;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include is-responsive {
        width: 40px;
        height: 40px;
      }
      &.prev {
      }
      &.next {
        margin-left: 32px;
        transform: scaleX(-1);
        @include is-responsive {
          margin-left: 24px;
        }
      }
    }
  }
  &__list {
    @include is-responsive {
      width: 285px !important;
      margin: 0 auto;
    }
  }
  &__listItem {
    min-width: 300px !important;
    @include is-responsive {
      min-width: 285px !important;
    }
    &:first-child {
      .no {
        top: 16px;
        left: 16px;
      }
    }
    &:not(:first-child) {
      .no {
        top: 16px;
        left: 40px;
      }
    }
    &:nth-child(4) .p-slider__text {
      @include is-max(993px) {
        br {
          display: none;
        }
      }
    }
  }
  &__frame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    .fg,
    .no {
      position: absolute;
    }
    .fg {
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
      height: 195px;
    }
    .no {
      color: $color-main;
      @include font-line(30, 62);
      letter-spacing: 1.5px;
      font-family: $font-family-en;
      font-weight: 300;
    }
  }
  &__text {
    @include font-line(14, 28);
    letter-spacing: 2.1px;
    color: $color-sub;
    font-weight: 500;
    .isRed {
      color: #e83131;
    }
  }
}
